<section class="about container">
    <h1 class="text-center"> About</h1>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    </p>
    <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry.It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout
    </p>
    <div class="follow text-center">
        <i class="material-icons">account_circle</i>
    <a href="#">Youtube</a>
    <a href="#">Instagram</a>
    <a href="#">Twitter</a>
   

    </div>
</section>